//Variables
$title-white: var(--gray-0, #fff);

.syk-footer-main-container {
  width: 100%;
  height: auto;
  padding: 94px 0 50px;

  display: grid;
  place-items: center;
  // .syk-cursor {
  //   background-color: none;
  //   height: 32px;
  //   width: 32px;
  //   border-radius: 50%;
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   pointer-events: none;
  //   z-index: 102;
  // }

  .syk-footer-content {
    display: flex;
    flex-direction: column;
    width: 90vw;
    // padding: 94px 0 50px;

    .syk-footer-title {
      color: $title-white;
      // font-size: clamp(6.25rem, 500px, 3.25rem);
      font-size: 100px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding-bottom: 62px;
    }

    .syk-footer-string-line {
      height: 2px;
      width: 100%;
      position: relative;

      svg {
        width: 100%;
        height: 500px;
        position: absolute;
        top: -250px;

        path {
          stroke: rgba(255, 255, 255, 0.6);
          stroke-width: 2px;
          fill: none;
        }
      }

      .syk-box {
        height: 40px;
        width: 100%;
        position: relative;
        top: -20px;
        z-index: 1;
      }

      .syk-box:hover {
        height: 500px;
        top: -250px;
      }
    }

    .syk-footer-mid-section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 20px;
      width: 100%;

      .syk-footer-left-section {
        display: flex;
        flex-direction: column;
        width: 50%;

        .syk-footer-left-top {
          display: flex;
          flex-direction: row;

          .syk-footer-text {
            color: #989898;
            font-family: Work Sans;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            z-index: 100;
            padding-right: 88px;

            .text-only-number:hover {
              color: #ffb830;
            }

            .text-only-mail,
            .text-only-number {
              padding: 10px;
              cursor: pointer;
            }

            .text-only-mail:hover {
              color: #ffb830;
            }
          }
        }
        .syk-footer-left-bottom {
          display: flex;
          flex-direction: row;
          padding-top: 107px;

          svg {
            color: #989898;
            height: 60px;
            width: 60px;
            margin-right: 40px;
            transition: fill 0.2s;
            cursor: pointer;
            z-index: 100;
          }

          svg:hover {
            color: #ffb830;
          }
        }
      }

      .syk-footer-right-section {
        position: relative;
        width: 50%;
        padding-top: 69px;
        margin-bottom: 262px;
        display: flex;
        justify-content: flex-end;

        .syk-footer-right-button {
          color: #649fe4;
          font-size: 100px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          cursor: pointer;
          width: 648px;
          div {
            display: inline;

            svg {
              height: 120px;
              width: 120px;
              position: relative;
              top: 35px;
            }
          }
        }
      }

      .syk-footer-right-form {
        width: 50%;
        padding-top: 9px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        z-index: 100;

        .syk-input-bar {
          padding-top: 40px;
          width: 100%;

          input {
            width: 100%;
            padding-bottom: 20px;
            box-sizing: border-box;
            border: none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            background-color: var(--gray-900, #000);
            color: rgba(255, 255, 255, 0.7);
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            outline: none;
            // overflow: hidden;
          }
          input:hover {
            border-bottom: 1px solid white;
          }

          input:focus {
            border-bottom: 1px solid #ffb830;
          }

          textarea {
            background: black;
            border-radius: 0;
            border: none;
            padding-bottom: 12px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            font-size: 24px;
            color: white;
            resize: none;
            transition: border-color 150ms ease;
            width: 100%;
            outline: none;
            line-height: 163%;
            // min-height: 20px;
            // height: auto;
            overflow-y: hidden;
          }

          textarea:hover {
            border-color: #c6c6c6;
          }

          textarea:focus {
            border-bottom: 1px solid #ffb830;
          }

          span {
            color: rgba(255, 255, 255, 0.4);
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            margin: 0px 0 0 3.6px;
          }
        }

        .syk-form-submit {
          margin-top: 122px;
          // width: auto;
          // position: relative;

          // .btn {
          //   position: relative;
          //   display: inline-flex;
          //   padding: 25px 80px;
          //   background-color: black;
          //   color: #fff;
          //   text-decoration: none;
          //   letter-spacing: 1px;
          //   border-radius: var(--Corner-Radius-Corner-radius-40, 40px);
          //   border: 1px solid var(--Gray-0, #fff);
          //   cursor: none;
          //   overflow: hidden;

          //   span {
          //     position: relative;
          //     z-index: 205;
          //     cursor: none;
          //   }
          // }
        }
      }
    }
    .syk-footer-bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .syk-footer-bottom-left {
        color: #989898;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .syk-footer-main-container {
    // display: grid;
    height: auto;
    width: 100vw;
    padding: 30px 0 20px;
    .syk-footer-content {
      // align-self: end;
      .syk-footer-title {
        font-size: 40px;
      }
      .syk-footer-mid-section {
        flex-direction: column;
        .syk-footer-left-section {
          width: 100%;
          .syk-footer-left-top {
            flex-direction: column;
            .syk-footer-text {
              font-size: 16px;
              padding: 0;
              .text-only-mail {
                padding: 0;
              }
              .text-only-number {
                padding: 0;
                margin-bottom: 20px;
              }
            }
          }
        }
        .syk-footer-right-section {
          width: 100%;
          .syk-footer-right-button {
            font-size: 52px;
            width: auto;
            div {
              svg {
                height: 60px;
                width: 60px;
                top: 17px;
              }
            }
          }
        }

        .syk-footer-right-form {
          width: 100%;
          margin-top: 30px;
          .syk-input-bar {
            padding-top: 20px;
            input {
              padding-bottom: 10px;
              font-size: 16px;
            }

            textarea {
              padding-bottom: 6px;
              font-size: 16px;
            }

            span {
              font-size: 17px;
            }
          }

          .syk-form-submit {
            margin-top: 60px;
            display: flex;
            justify-content: center;
          }
        }
      }

      .syk-footer-bottom {
        display: flex;
        flex-direction: column;
        padding-top: 30px;

        .syk-footer-left-bottom {
          display: flex;
          flex-direction: row;
          height: 100%;
          margin: auto;
          align-items: flex-end;
          padding-top: 20px;
          width: 100%;
          justify-content: space-around;
          margin-bottom: 20px;

          svg {
            color: #989898;
            transition: fill 0.2s;
            cursor: pointer;
            z-index: 100;
            height: 30px;
            width: 30px;
          }
        }
        .syk-footer-bottom-left {
          font-size: 12px;
        }
      }
    }
  }
}
