.services {
  margin: 50px 0;
  display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .services-heading {
    display: flex;
    margin: 0 80px;
    justify-content: space-between;
    
    .services-left {
      width: 50%;
      color: var(--white);
      text-align: center;
      align-self: flex-start;
      font-family: Work Sans;
      font-size: 68px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      span {
        color: var(--blue);
      }
    }
    .services-right {
      align-self: flex-end;
      width: 40%;
      color: var(--white);
      font-family: Work Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 200%; /* 32px */
      letter-spacing: 0.08px;
    }
  }

  .gallary {
    margin: 90px 0px 0 0px;
    color: white;
    display: grid;
    max-width: 1920px;
    width: 100%;
    place-items: center;
    
    justify-content: space-evenly;

    grid-template-columns: repeat(2, 0.8fr); /* Two columns for tablets */
       /* Adjusted gap for tablets */
       gap: 40px;
       padding: 0 30px;
  }
}

@media only screen and (max-width: 950px) {
  .services {
    .gallary {
      grid-template-columns: 1fr;
      gap: 30px;
    }
    .services-heading {
      flex-direction: column;
      gap: 40px;
      margin: 0 20px;
      .services-left {
        width: 100%;
        text-wrap: balance;
      }
      .services-right {
        width: 100%;
      }
    }
  }
}
@media only screen and (max-width: 650px) {
  .services {
    .services-heading {
      .services-left {
        font-size: 54px;
      }
      .services-right {
        width: 100%;
      }
    }
  }
}
@media only screen and (max-width: 450px) {
  .services {
    .services-heading {
      .services-left {
        font-size: 40px;
      }
      .services-right {
        width: 100%;
      }
    }
  }
}


@media screen and (max-width: 768px) {
}
