
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

:root{
  --yellow: #ffb830;
  --blue: #3db2ff;
  --white: #ffffff;
  --black: #000000;
  --light-black: #21232D;
  --work-sans: 'Work Sans', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* cursor: none; */
}
body{
  background-color: var(--black);
}

.mouseCursor{
  background-color: var(--yellow);
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  pointer-events: none;
  mix-blend-mode: difference;
}