// masking.rock-main{
// .rock-hero-main-container {
//   max-width: 100%;
//   display: flex;
//   justify-content: flex-start;
//   align-items: center;
// }
// .rock-main {
//   height: 100vh;
//   max-width: 1440px;
//   .rock-mask,
//   .rock-body {
//     width: 100%;
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     justify-content: center;
//     padding-left: 50px;
//     color: var(--white);
//     font-size: 64px;
//     font-family: var(--work-sans);
//     line-height: 66px;
//     cursor: default;
//     gap: 0;

//     .rock-tagLine {
//       // color: var(--yellow);
//       font-size: 20px;
//       margin: 0;
//       padding: 0 0 0 40px;
//     }

//     p {
//       width: 1060px;
//       padding: 40px;
//     }
//   }

//   .rock-mask {
//     mask-image: url(.rock-.rock-/assets/mask.rock-svg);
//     mask-repeat: no-repeat;
//     mask-size: 40px;
//     -webkit-mask-image: url(.rock-.rock-/assets/mask.rock-svg);
//     -webkit-mask-repeat: no-repeat;

//     -webkit-mask-size: 40px;
//     background: var(--yellow);
//     position: absolute;
//     color: black;
//   }
// }
.rock-hero-main-container {
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.rock-main {
  height: 100vh;
  max-width: 1920px;

  .rock-mask,
  .rock-body {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 50px;
    color: var(--white);
    font-size: 80px;
    font-family: var(--work-sans);
    line-height: 100px;
    cursor: default;
    gap: 0;

    .rock-tagLine {
      // color: var(--yellow);
      font-size: 24px;
      margin: 0;
      padding: 0 0 0 40px;
      line-height: 0;
    }

    p {
      width: 1306px;
      padding: 40px;
    }
  }

  .rock-mask {
    mask-image: url(../assets/mask.svg);
    mask-repeat: no-repeat;
    mask-size: 40px;
    -webkit-mask-image: url(../assets/mask.svg);
    -webkit-mask-repeat: no-repeat;

    -webkit-mask-size: 40px;
    background: var(--yellow);
    position: absolute;
    color: black;
  }
}

@media only screen and (max-width: 1440px) {
  .rock-main {
    .rock-mask,
    .rock-body {
      font-size: 80px;

      p {
        width: 1270px;
      }
    }
  }
}

@media only screen and (max-width: 1366px) {
  .rock-main {
    .rock-mask,
    .rock-body {
      font-size: 60px;
      padding-left: 0px;
      line-height: 70px;

      p {
        width: 975px;
      }
    }
  }
}

@media only screen and (max-width: 950px) {
  .rock-main {
    .rock-mask,
    .rock-body {
      font-size: 40px;
      line-height: 50px;

      p {
        width: 715px;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .rock-main {
    height: 85vh;
    .rock-mask,
    .rock-body {
      p {
        width: 100vw;
        text-wrap: balance;
      }
      .rock-tagLine {
        line-height: 2;
      }
    }
  }
}
