.double {
  display: flex;
  gap: 10px;
  margin-top: 10vh;
  height: 45vw;

  .imageContainer {
    height: 90%;
    width: 50%;
    background-color: #21232d;
    position: relative;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      background: #21232d;
      inset: 2px;
      border-radius: 5px;
    }
    &::before {
      content: "";
      position: absolute;
      width: 140%;
      height: 160%;
    }
    &:hover::before {
      background: linear-gradient(
        224deg,
        var(--yellow) 1.36%,
        rgba(255, 255, 255, 0) 41.95%,
        rgba(217, 217, 217, 0) 58.72%,
        var(--yellow) 100.99%
      );
      animation: rotate 4s linear infinite;
    }
    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    .content{
      z-index: 2;

      .number {
        position: absolute;
        top: 50px;
        left: 50px;
        color: var(--yellow);
  
        /* Work Sans/26px: Medium */
        font-family: Work Sans;
        font-size: 26px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      .text-content {
       
  
        display: flex;
        width: 100%;
        gap: 10px;
        // align-items: center;
        justify-content: center;
        align-items: center;
        height: 70%;
        margin: 20% 0;
        padding: 0 20px;
        .left {
          width: 40%;
          height: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            height: 90%;
            width: 90%;
            object-fit: cover;
          }
        }
        .right {
          display: flex;
          flex-direction: column;
          gap: 74px;
          width: 60%;
          .title {
            color: var(--Brand-Color-Yellow, #ffb830);
  
            /* Work Sans/26px: Medium */
            font-family: Work Sans;
            font-size: 26px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
  
          p {
            height: auto;
            width: 75%;
            color: var(--color-gray-0, #f1f1f1);
            font-family: Work Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 200%; /* 32px */
            letter-spacing: 0.08px;
          }
        }
      }
    }
  }
}
